<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.passbolt.poc">

  <application
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.PassboltPOC">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name=".milestones.autofill.settings.AutofillSettingsActivity"
        android:label="@string/autofill_settings" />

    <activity
        android:name=".milestones.autofill.auth.AutofillAuthActivity"
        android:label="@string/autofill_auth_activity_label"
        android:theme="@style/Theme.Transparent" />

    <activity
        android:name=".milestones.autofill.manualfill.ManualFillActivity"
        android:label="@string/autofill_manual_fill_activity_label" />

    <service
        android:name=".milestones.autofill.PassboltPocAutofillService"
        android:label="@string/autofill_service"
        android:permission="android.permission.BIND_AUTOFILL_SERVICE">
      <intent-filter>
        <action android:name="android.service.autofill.AutofillService" />
      </intent-filter>
      <meta-data
          android:name="android.autofill"
          android:resource="@xml/passboltpos_autofill_service_config" />
    </service>
  </application>

  <uses-feature android:name="android.hardware.camera.any" />

  <uses-permission
      android:name="android.permission.QUERY_ALL_PACKAGES"
      tools:ignore="QueryAllPackagesPermission" />

  <uses-permission android:name="android.permission.CAMERA" />

</manifest>
